@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div>
    You have @Model.PasswordResetProtectionoptions.Minutes minutes and @Model.PasswordResetProtectionoptions.Seconds seconds
    to reset your password because we are so great that we made your life harder by overriding
    the default data protections token lifespan which is set
    to @Model.DefaultTokenLifeSpan.Days Day
</div>
<div>So please copy paste the bold text to the browser <b>@Model.PathToEmailFile</b></div>
<div>
    If you are too slow to do this process then we tell you have an invalid token. All clear my friend?
    So now run run run and click this link!!!
</div>

